body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    width: 100%;
    height: 45px;   
}

.menu1 { 
    color:white;
    text-decoration: none;
    position: relative;
    bottom: 35%;
    margin: 0% 2%;
}

.nuevo {
    color: red;
    margin: 0px;
}

h1 {
    font-size: 72px;
    margin: 0px;
}

h3 {
    font-size: 25px;
    margin: 0px;
}

.boton {
    background-color: rgb(0, 113, 227);
    color: white;
    border: none;    
    width: 70px;
    height: 20px;
    border-radius: 30px;
}

.mas-informacion {
    text-decoration: none;
    margin: 10px;
}

.img-macbook{
    width: 80%;
    margin-top: 50px;   
}

.bloque-intermedio {
    margin-top: 80px;
    display: block;
}

.accesorios {
    background-color: rgb(242, 242, 242);
    width: 48%;
    display: inline-table;    
    margin: 5px;
}

.margen-h3 {
    margin-top: 50px;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    display: block;
    margin: 15px 0 15px 0;    
}
.img-appletools {
    max-width: 100%;
    margin-top: 75px;
}

.img-laptopcover {
    max-width: 55%;
    margin-top: 40px;
}

.img-box {
    width: 30px;
    margin: 50px 0 10px 0;
}

.negrita {
    font-weight: bold;
    
}

.footer {
    background-color: rgb(245, 245, 247);
    color: rgb(81, 81, 84);
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-top: 40px;
    height: 80px;        
    padding-left: 120px;
}

.footer-links {
    color: rgb(81, 81, 84);
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    border-right: 1px solid grey;
    margin-right: 10px;
    padding-right: 10px;       
}